=begin
#Pappers API

#L'API de Pappers vous permet de récupérer des informations et documents sur les entreprises françaises à partir de leur numéro SIREN ou SIRET.  Vous devez indiquer votre clé d'API dans les requêtes, en utilisant le paramètre `api_token`.  L'URL d'accès à l'API est https://api.pappers.fr/v2/  Lien vers la documentation de la V1 : https://www.pappers.fr/api/documentation/v1  L'historique des modifications (changelog) est accessible à l'url suivante : https://www.pappers.fr/api/changelog 

The version of the OpenAPI document: 2.7.0
Contact: support@pappers.fr
Generated by: https://openapi-generator.tech
OpenAPI Generator version: 6.4.0

=end

require 'cgi'

module OpenapiClient
  class ComptesAnnuelsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Récupère les comptes annuels publiés d'une entreprise.
    # Vous devez fournir le SIREN de l'entreprise pour laquelle vous souhaitez obtenir les comptes annuels.
    # @param api_token [String] Clé d&#39;utilisation de l&#39;API
    # @param [Hash] opts the optional parameters
    # @option opts [String] :siren SIREN de l&#39;entreprise
    # @option opts [String] :annee Année de cloture des comptes souhaités. Il est possible d&#39;indiquer plusieurs années en les séparant par des virgules. Si le paramètre n&#39;est pas fourni, toutes les années disponibles seront retournées.
    # @return [Hash<String, Array<ComptesAnnuels200ResponseValueInner>>]
    def comptes_annuels(api_token, opts = {})
      data, _status_code, _headers = comptes_annuels_with_http_info(api_token, opts)
      data
    end

    # Récupère les comptes annuels publiés d&#39;une entreprise.
    # Vous devez fournir le SIREN de l&#39;entreprise pour laquelle vous souhaitez obtenir les comptes annuels.
    # @param api_token [String] Clé d&#39;utilisation de l&#39;API
    # @param [Hash] opts the optional parameters
    # @option opts [String] :siren SIREN de l&#39;entreprise
    # @option opts [String] :annee Année de cloture des comptes souhaités. Il est possible d&#39;indiquer plusieurs années en les séparant par des virgules. Si le paramètre n&#39;est pas fourni, toutes les années disponibles seront retournées.
    # @return [Array<(Hash<String, Array<ComptesAnnuels200ResponseValueInner>>, Integer, Hash)>] Hash<String, Array<ComptesAnnuels200ResponseValueInner>> data, response status code and response headers
    def comptes_annuels_with_http_info(api_token, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ComptesAnnuelsApi.comptes_annuels ...'
      end
      # verify the required parameter 'api_token' is set
      if @api_client.config.client_side_validation && api_token.nil?
        fail ArgumentError, "Missing the required parameter 'api_token' when calling ComptesAnnuelsApi.comptes_annuels"
      end
      # resource path
      local_var_path = '/entreprise/comptes'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'api_token'] = api_token
      query_params[:'siren'] = opts[:'siren'] if !opts[:'siren'].nil?
      query_params[:'annee'] = opts[:'annee'] if !opts[:'annee'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Hash<String, Array<ComptesAnnuels200ResponseValueInner>>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ComptesAnnuelsApi.comptes_annuels",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ComptesAnnuelsApi#comptes_annuels\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
